@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            <CascadingValue Value="ReportData">
                <CascadingValue Value="EquipmentData">
                    @Body
                </CascadingValue>
            </CascadingValue>
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    public required EquipmentDto[] EquipmentData { get; init; } =
    [
        new(Guid.Empty,
            "",
            "Синтезатор Yamaha S670 автоаккомпанементом ,61 клавиша 128-голосная полифония,896 тембров,230 стилей,Pitch Band.USB.акустика 2*15Вт,БП",
            "",
            "4101042205"),
        new(Guid.NewGuid(), "", "B", "", ""), new(Guid.NewGuid(), "", "C", "", "")
    ];

    public required EquipmentOperationDto[] ReportData { get; init; } = [
        new(Guid.Empty, Guid.Empty, Guid.Empty, Guid.Empty, DateTime.Now, EquipmentOperationType.Transfer),
        new(Guid.NewGuid(), Guid.Empty, Guid.Empty, Guid.Empty, DateTime.Now, EquipmentOperationType.Transfer),
        new(Guid.NewGuid(), Guid.Empty, Guid.Empty, Guid.Empty, DateTime.Now, EquipmentOperationType.WriteOff)
    ];
}